@model IEnumerable<Movies.Models.Movie>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/IndexStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="~/js/site.js"></script>
</head>

    <body>
        <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="/Movie/Index">HOME</a></li>
                    <li><a href="/Movie/Create/">ADD MOVIE</a></li>
                </ul>
            </nav>
        </header>

        <div id="topPage">
            <img id="" />
            <h1>MOVIE REVIEWS</h1>
        </div>

        <div id="middlePage">
            <h3>MOVIE REVIEWS</h3>
            <div id="movies">
                @foreach (var Movie in Model)
                {
                    <div id="movieBox">
                        <a id="movie" href="/Movie/Details/@Movie.Id"><h4>@Movie.Title</h4></a>
                        <a id="movie" href="/Movie/Details/@Movie.Id"><img src="@Movie.Image" height="550"/></a>
                    </div>
                } 
            </div>
        </div>
    </body>
</html>